.admin-page {
  padding: 20px;

  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #343a40;
    font-size: 2rem;
    font-weight: bold;
  }

  .form-container,
  .table-container {
    margin-top: 20px;
  }
}
